<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Account Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h1>Add Account</h1>
<form action="#" th:action="@{/addaccount}" th:object="${account}" method="POST"}>
    <div th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>

    <p><input type="text" th:field="*{name}" placeholder="Name" class="form-control mb-4 col-4"/></p>

    <p><input type="text" path="price" th:field="*{balance}" placeholder= "Balance" class="form-control mb-4 col-4"/></p>

    <p><input type="submit" value="Submit" /></p>
</form>

    <a href="/">Link to Main Screen</a>
</body>
</html>