<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Account Form</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<h1>Add Transaction</h1>
<form action="#" th:action="@{/addtransaction}" th:object="${transaction}" method="POST"}>
    <!--<div th:if="${#fields.hasErrors('*')}">
        <p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
    </div>-->
    <p><input type="date" th:field="*{date}" class="form-control mb-4 col-4"/></p>
    <!--TODO: fix to be a selection-->
    <!--TODO: pass account to form-->
    <p><input type="text" path="charge" th:field="*{debit}" placeholder= "charge" class="form-control mb-4 col-4"/></p>
    <p><input type="text" path="amount" th:field="*{amount}" placeholder= "0.0" class="form-control mb-4 col-4"/></p>
    <p><input type="submit" value="Submit" /></p>
</form>

<a href="/">Link to Main Screen</a>
</body>
</html>