<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
</head>
<body>
<a href="/addaccount">Add Account</a>
<h2>Accounts</h2>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Account Name</th>
        <th>Balance</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="tmpaccount : ${accounts}">
        <td th:text="${tmpaccount.getName()}">1</td>
        <td th:text="${tmpaccount.getBalance()}">1</td>
        <td>
            <a th:href="@{/updateaccount(accId=${tmpaccount.id},accString=${tmpaccount.getName()})}" class="btn btn-primary btn-sm mb-3"
               onclick="if(!(confirm('Are you sure you want to update the balance in this Account?')))return false">Update Balance</a>
            <a th:href="@{/removeaccount(accId=${tmpaccount.id},accString=${tmpaccount.getName()})}" class="btn btn-primary btn-sm mb-3"
               onclick="if(!(confirm('Are you sure you want to delete this Account?')))return false">Delete</a>
            <a th:href="@{/addtransaction(accId=${tmpaccount.id},accString=${tmpaccount.getName()})}" class="btn btn-primary btn-sm mb-3"
               >Add Transaction</a>
        </td>
    </tr>
    </tbody>
</table>
<h2>Transactions</h2>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Account</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="temptrn : ${transactions}">
        <td th:text="${temptrn.getDate()}">1</td>
        <td th:text="${temptrn.getType()}">1</td>
        <td th:text="${temptrn.getAmount()}">1</td>
        <td th:text="${temptrn.getAccountName()}">1</td>
        <td>
        <a th:href="@{/updatetransaction(transId=${temptrn.getId()})}" class="btn btn-primary btn-sm mb-3"
           onclick="if(!(confirm('Are you sure you want to update this transaction?')))return false">Modify</a>
        <a th:href="@{/deletetransaction(accId=${temptrn.getAccount().getId()})}" class="btn btn-primary btn-sm mb-3"
           onclick="if(!(confirm('Are you sure you want to delete this transaction?')))return false">Delete</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>