<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <title>Budget | Delete</title>
</head>
<body>
<h1>Your Account <span th:text="${account.getName()}"></span> has been updated to balance of <span th:text="${account.getBalance()}"></span></h1>

<a href="/">Link to Main Screen</a>
</body>
</html>